#grid {
	float: left;
}

/*#container {
	left: 0;
	position: absolute;
}

#synthesize {
	background: blue;
	float: right;
	display: inline-block;
	position: relative;
}

#results {
	background: green;
	float: right;
	display: inline-block;
	position: relative;
}

#replace {
	background: red;
	float: right;
	display: inline-block;
	position: relative;
}
*/