#grid {
	float: left;
}

/*#container {
	left: 0;
	position: absolute;
}

#results {
	background: green;
	float: right;
	display: inline-block;
	position: relative;
}

#replace {
	background: red;
	float: right;
	display: inline-block;
	position: relative;
}
*/

.component {
	border-bottom: solid gray 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.innerComponent {
	padding-bottom: 10px;
}

#results {
	display: none;
}

.codeText {
	font-family: Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px !important;
}

#results {
	background: #f3f2f2;
}

#closeButton {
	float: right;
}

#noSolutionsMessage {
	color: lightcoral;
	font-size: 14px;
}